@model System.Collections.Generic.IList<BrimstoneMissionGenerator.Models.Product>
@{
    ViewBag.Title = "Mission List";
}


@foreach (var set in Model)
{
    var missionIndex = 0;

    <h2>
        @if (!string.IsNullOrEmpty(set.BggUrl))
        {
            <a href="@set.BggUrl" target="_blank">@(set.Name)</a>
        }
        else
        {
            @(set.Name)
        }
        @(set.ProductHtml)
    </h2>

    <div>
        @if (!string.IsNullOrEmpty(set.DownloadUrl))
        {
            <a href="@set.DownloadUrl">Download</a>
            <br />
        }
        @if (set.ProductHtml != null)
        {

        }
        <ul>

            @foreach (var mission in set.Missions)
            {
                <li title="@(mission.Intro)">
                    <a href="/Home/Mission/@(set.Id)/@(missionIndex)">
                    @if (mission.Number.HasValue)
                    {
                        <text>
                            #@(mission.Number) @(mission.Name)
                        </text>
                    }
                    else
                    {
                        <text>
                            @(mission.Name)
                        </text>
                    }
                    @if (mission.Locations.Count > 0)
                    {
                        <text>
                            (@(mission.Locations))
                        </text>
                    }
                    @if (!string.IsNullOrEmpty(mission.Notes))
                    {
                        <text>
                            @(mission.Notes)
                        </text>
                    }
                    @if (mission.Page.HasValue)
                    {
                        <text>
                            Page @(mission.Page)
                        </text>
                    }
                        </a>
                    @{  missionIndex += 1; }
                </li>
            }
        </ul>
    </div>

}
