@model BrimstoneMissionGenerator.Models.MissionPicker
@{
    ViewBag.Title = "Brimstone Mission Generator - " + Model.Mission.Name;
}

<h2>@Model.Mission.Name</h2>

<p>
    @if (Model.Mission.Number.HasValue)
    {
        <text>
            Mission #@(Model.Mission.Number) from @(Model.MissionsSet.Name)
        </text>
        if (Model.Mission.Page.HasValue)
        {
            <text>
                on page @(Model.Mission.Page)
            </text>
        }
    }
    @if (!string.IsNullOrEmpty(Model.MissionsSet.DownloadUrl))
    {
        <a href="@Model.MissionsSet.DownloadUrl">Download</a>
    }
    <br />
    @if (Model.Mission.Locations.Count>0)
    {
        <text>
            Locations: @(Model.Mission.Locations)
        </text>
        <br />
    }
    @if (Model.OtherWorlds.Count > 0)
    {
        <text>
            Random Locations: @(string.Join(", ", Model.OtherWorlds))
        </text>
        <br />
    }
    @if (!string.IsNullOrEmpty(Model.Mission.Notes))
    {
        <text>
            Notes: @(Model.Mission.Notes)
        </text>
        <br />
    }
</p>
<p>
    <span style="font-style:italic">   @(Model.Mission.Intro)</span>
</p>

