@page "/"

@using BrimstoneMissionGenerator.Services
@using BrimstoneMissionGenerator.Models
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inherits EngineBase

@inject MissionService MissionService
@inject LocalStorage LocalStorage

<h1>Shadows of Brimstone Mission Generator</h1>

<h2>Setup</h2>
<p>Welcome to the Brimestone Mission Generator. Please select expansions from the list below.</p>
<div><button @onclick="CheckAllAsync">Select All</button></div>
<div>

    @* Sets will be null when we are pre-rendering. *@
    @if (Sets != null)
        @foreach (BrimstoneMissionGenerator.Models.CheckList item in Sets)
        {
            <label title="@(item.MissionsSet.MissionNamesHtml)">
                <input type="checkbox" id="Mission_{item.MissionsSet.Id}" checked="@(item.Available)"
                       @onchange="(eventArgs ) => CheckboxClicked(item, eventArgs.Value)" />

                @item.MissionsSet.Name
                @if (!string.IsNullOrEmpty(item.MissionsSet.Locations))
                {
                    <text>
                        (@item.MissionsSet.Locations)
                    </text>
                }
                @if (!string.IsNullOrEmpty(item.MissionsSet.DownloadUrl))
                {
                    <a target="_blank" href="@item.MissionsSet.DownloadUrl">Download</a>
                }
            </label>
            <br />
        }
        else
        {
            <h1>Loading</h1>
        }
</div>

@functions {

    override protected async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Sets = await MissionService.FindSetsAsync(IsConnected ? LocalStorage : null);
    }

    List<CheckList>? Sets;
    bool m_DeferEvents;

    async void CheckboxClicked(CheckList item, object checkedValue)
    {
        if (m_DeferEvents)
            return;

        item.Available = (bool)checkedValue;

        await MissionService.SaveSetsAsync(LocalStorage, Sets);
    }

    async void CheckAllAsync()
    {
        if (Sets == null)
            return;

        m_DeferEvents = true;

        var action = true;

        if (Sets.All(x => x.Available))
            action = false;

        foreach (var item in Sets)
            item.Available = action;

        m_DeferEvents = false;

        await MissionService.SaveSetsAsync(LocalStorage, Sets);
    }

}
